@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;

// Button

@mixin button(
	$border: none,
	$borderHover: none,
	$bColor: $darkColor,
	$color: $blackColor,
	$bColorHover: $darkColor,
	$colorHover: $blackColor,
	$bColorFocus: $darkColorFocus,
	$borderFocus: none,
	$disableBgColor: $disableColorButton,
	$disableTextColor: $disableColorButtonText,
	$disableBorder: none
) {
	border-radius: rem(14);
	padding: rem(20) rem(35);
	background-color: $bColor;
	font-weight: 400;
	font-size: rem(20);
	line-height: 1.4;
	text-align: center;
	color: $color;
	border: $border;
	cursor: pointer;
	transition: 0.4s all;
	max-width: clamp(rem(250), 40vw, rem(264));
	&:focus {
		outline: none;
		background-color: $bColorFocus;
		border: $borderFocus;
	}
	&:active {
		background-color: $bColorFocus;
		transform: scale(0.92);
	}
	&:disabled {
		background-color: $disableBgColor;
		color: $disableTextColor;
		border: $disableBorder;
		cursor: not-allowed;
	}
	@media screen and (min-width: $tablet) {
		&:hover {
			background-color: $bColorHover;
			color: $colorHover;
			border: $borderHover;
		}
	}
}

// Typography

@mixin typography(
	$weight: 400,
	$minFS: 16,
	$maxFS: 18,
	$vw: 5vw,
	$color: inherit
) {
	font-weight: $weight;
	font-size: clamp(rem($minFS), $vw, rem($maxFS));
	color: $color;
}

@mixin headingBack($BGColor: $greenColor) {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 110%;
		height: 110%;
		background-color: $BGColor;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: rem(7);
		z-index: -1;
	}
}

@mixin hoverLink($BGColor: $greenColor) {
	position: relative;
	transition: 0.5s all;
	&::before {
		content: "";
		position: absolute;
		width: 110%;
		height: 0%;
		background-color: $BGColor;
		left: 50%;
		bottom: 0%;
		transform: translateX(-50%);
		border-radius: rem(7);
		z-index: -1;
		transition: 0.5s all;
	}
	@media screen and (min-width: $tablet) {
		&:hover {
			&::before {
				height: 44%;
			}
		}
	}
}
