@use "../libs/pxtorem.scss" as *;

// Font
$fontFamily: "Space Grotesk", sans-serif;
$fontSize: rem(18);

// Colors
$greenColor: #B9FF66;
$greenColorHover: #91f319;
$greenColorFocus: #8dff02;
$blackColor: #000;
$darkColor: #191A23;
$darkColorHover: #303038;
$darkColorFocus: #464649;
$borderFocusButton: rem(1) dotted $darkColorFocus;
$disableColorButton: #EAEAEA;
$disableColorButtonText: #9B9B9B;
$grayColor: #F3F3F3;
$whiteColor: #fff;

// Breakpoints
$laptopL: rem(1439.98);
$laptopM: rem(1199.98);
$laptop: rem(1023.98);
$tablet: rem(767.98);
$tabletS: rem(575.98);
$mobileL: rem(424.98);
$mobileM: rem(374.98);
$mobileS: rem(319.98);