<header class="header">
	<div class="header__container">
		<a href="/index.html" class="logo">
			<img src="/src/icons/logo-icon.svg" alt="Positivus logo">
			Positivus
		</a>
		<nav class="header__menu menu">
			<ul class="menu__list">
				<li class="menu__item">
					<a href="/about.html" class="menu__link">About us</a>
				</li>
				<li class="menu__item">
					<a href="/services.html" class="menu__link">Services</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Use Cases</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Pricing</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link">Blog</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__btn button-outline">Request a quote</a>
				</li>
			</ul>
		</nav>
		<div class="burger">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</header>