<div class="popup" data-popup-id="error">
    <div class="popup__title">
        Oops! <br>
        Something went wrong
    </div>
    <div class="popup__text">
        We’re sorry, but due to a technical issue some of the buttons on this page aren’t working right now.
        Anton has been notified and is working on a fix
    </div>
    <a href="#" data-popup-target="error" class="popup__btn button-dark js-popup-close">Return to Page</a>
</div>