@keyframes logoImgAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circleScaling {
    0%, 100% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(.78) translateY(-30px);
    }
}