@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../base/mixins.scss" as *;

.title-hero {
	@include typography($weight: 500, $minFS: 42, $maxFS: 60, $vw: 4vw);
}

.text-hero {
	@include typography($maxFS: 20, $minFS: 18);
	line-height: 1.4;
}

.title-h3 {
	@include typography($weight: 500, $minFS: 26, $maxFS: 30);
}
.title-h4 {
	@include typography($weight: 500, $minFS: 18, $maxFS: 20);
}

.text-block {
	display: flex;
	align-items: center;
	gap: clamp(rem(24), 6vw, rem(47));
	margin-bottom: clamp(rem(40), 8vw, rem(80));
	@media screen and (max-width: $tabletS) {
		flex-direction: column;
		text-align: center;
	}
	&__title {
		@include typography($weight: 500, $minFS: 36, $maxFS: 40);
		@include headingBack;
		text-wrap: nowrap;
	}

	&__paragraph {
		@include typography;
		max-width: clamp(rem(380), 40vw, rem(580));
		&--short {
			max-width: rem(292);
		}
	}
}

.logo {
	display: flex;
	align-items: center;
	column-gap: rem(13);
	font-weight: 500;
	font-size: clamp(rem(24), 8vw, rem(40));
	z-index: 200;
	position: relative;
	&--white {
		color: $whiteColor;
		font-size: clamp(rem(20), 8vw, rem(33));
	}
	img {
		animation: logoImgAnimation 8s linear infinite;
	}
}
